nav ul li
    {
    float: left;
    width: 100px;
    text-align: center;
    }

nav ul li a
    {
        display: block;
        padding: 10px;
        color:aqua
    }
nav ul
    {
        list-style-type: none;
    }

nav ul li a:hover{
    color:#fd7900
}
